@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.startButton {
    color: #c5c6c7 !important;
    font-family: "Noto Sans" !important;
    background-color: transparent !important; /* Transparent background */
    border: 2px solid #66fcf1 !important; /* Colored border */
    border-radius: 10px !important; /* Rounded corners */
    font-size: 20px !important;
}

.title {
    color: #66fcf1;
    font-size: 170px;
    font-family: "Noto Sans";
    font-weight: 700;
    line-height: 195px;
    margin: 0 0 0 0;
}

.secondParagraph {
    color: #c5c6c7;
    font-size: 24px;
    font-family: "Roboto Mono";
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 0 0;
}

.description {
    width: 600px;
    color: #c5c6c7;
    font-size: 16px;
    font-family: "Roboto Mono";
    line-height: 24px;
    text-align: center;
    margin: 0 0 0 0;
}

/* AppBar.module.css */
.transparentAppBar {
    background-color: transparent !important;
    box-shadow: none !important;
}

.robotoMonoText {
    font-family: "Roboto Mono";
}

